nav{
    background:linear-gradient(to right,#84b8ec,#84b8ec);
    color: #fff;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 50%;
        margin: 0;
    }
        li{
            cursor: pointer;
            font-size: 22px;
            color: #fff;
            text-decoration: none;
         }
