<div class="card mb-3 mt-5">
    <div class="row g-0">
      <div class="col-md-5 mt-5">
        <img src="{{data.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6 mt-5 ms-5">
        <div class="card-body mt-5">
          <p class="card-text fs-2">{{data.category}} </p>
  
          <h5 class="card-title fs-2 mt-5">{{data.title}}</h5>
          <p class="card-text fs-4 text-start mt-5">{{data.description}}</p>
          <p class="card-text fs-2" *ngIf="data.stock > 5 ; then thenTemplateName else elseTemplateName">
  
          </p>
          <ng-template class="red" #thenTemplateName>
            in stock</ng-template>
  
          <ng-template #elseTemplateName>
            out of stock
          </ng-template>
  
          <p class="card-text fs-2">{{data.brand}} </p>
  
          <p class="card-text fs-2">{{data.price |currency : "EGP" }}</p>
          <!-- <p class="card-text fs-2">{{data.rating]}} </p> -->
          <p class="card-text fs-2">{{data.createdAt | date}} </p>
  
  
          <button class="btn btn-primary">Add To Cart</button>
  
        </div>
      </div>
    </div>
  </div>